{% extends "base.html" %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Terimakasih</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Kami akan memproses pesanan Anda segera</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <h1>Tentang kami</h1>
                        <br/><br/>
                        <p align="justify">
                            kami akan melakukan proses komunikasi terlebih dahulu melalui email / nomor telepon yang telah anda isi, kami memastikan harga telah disepakati oleh kedua belah pihak, dan melakukan transaksi. 
                            <br/><br/>
                        </p>
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Info order
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Menunggu Konfirmasi</li>
                            </ul>
                          </div>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
